
    
    <div class="card-list-container">
        <div *ngIf="isDataLoaded===false">
            LOADING
        </div>
        <div
            *ngFor="let item of cardProducts" 
            class="card-list-item">
            <div class="card-list-item-left">
                <span class="card-list-item-left-qty" aria-label="Quantité">
                    {{item.qty}} 
                </span>
                <span class="card-list-item-left-qty" aria-label="Nom du produit">
                    <strong>{{item.product?.name}}</strong> à 
                </span>
                <span class="card-list-item-left-price" aria-label="Prix unitaire">
                    {{item.product?.price}} €
                </span>
            </div>
            <span class="card-list-item-right" aria-label="Prix TTC des produits">
                {{getOneProductTTCprice(item)}} €
            </span>
        </div>
    </div>
    <div *ngIf="isDataLoaded===true" class="card-footer">
        <div class="card-tax-amount-area">
            <span class="cart-taxt-amount-left">
                Montant des taxes
            </span>
            <span class="cart-taxt-amount-right" aria-label="Montant total des taxes">
                {{getTotalTaxes() | number : '1.00'}} €
            </span> 
        </div>
        <div class="card-total-area">
            <span class="cart-taxt-amount-left">
                Total
            </span>
            <span class="cart-taxt-amount-right" aria-label="Prix total">
                {{getTotalTTCPrice() | number : '1.00'}} €
            </span>
        </div>
    </div>

