:root {
    --base-font: 'Calibri';
    --base-font-size: 1.25rem;
    --font-scale-ratio: 1.3;

    --font-md: calc(1em * var(--font-scale-ratio));
    --font-lg: calc(1em * var(--font-scale-ratio) * var(--font-scale-ratio));
    --font-xxl: calc(1em * var(--font-scale-ratio) * var(--font-scale-ratio) * var(--font-scale-ratio) * var(--font-scale-ratio));

    --font-bold: 500;
}